fastapi
uvicorn
sqlalchemy
aiomysql
aiosqlite
cryptography
python-jose[cryptography]
python-multipart
aiosmtplib
aioimaplib
numpy
pandas
scikit-learn
tensorflow
keras
matplotlib
seaborn
torch
transformers
datasets
tokenizers